<div class="foot">
	<ul class="footul">
		<li class="footone">新手指南</li>
		<li class="footli"><a href="javascript:">新手入门</a></li>
		<li class="footli"><a href="javascript:">卖家操作流程</a></li>
		<li class="footli"><a href="javascript:">购物指南</a></li>
		<li class="footli"><a href="javascript:">购物保障</a></li>
	</ul>
	<ul class="footul">
		<li class="footone footone_second">支付方式</li>
		<li class="footli"><a href="javascript:">一麻袋余额付款</a></li>
		<li class="footli"><a javascript:">在线支付</a></li>
		<li class="footli"><a javascript:">货到付款</a></li>
	</ul>
	<ul class="footul">
		<li class="footone footone_third">售后服务</li>
		<li class="footli"><a href="javascript:">退换货政策</a></li>
		<li class="footli"><a href="javascript:">退换货流程</a></li>
		<li class="footli"><a href="javascript:">退款说明</a></li>
		<li class="footli"><a href="javascript:">发票制度</a></li>
	</ul>
	<ul class="footul">
		<li class="footone footone_fourth">帮助信息</li>
		<li class="footli"><a href="javascript:">更多帮助信息</a></li>
		<li class="footli"><a href="javascript:">常见问题</a></li>
		<li class="footli"><a href="javascript:">联系客服</a></li>
		<li class="footli"><a href="javascript:">Traders</a></li>
	</ul>
</div>